{include header.html}


		<div class="chengg" style="width:960px;height:300px;margin:0 auto">
		<div class="chengg_block" style="margin-top:50px;margin-left:167px;width:619px;border:4px solid #f2f2f2;float:left;">
		
			<img style="margin:25px;float:left;" src="./public/images/error.gif" />
			<div class="content" style="width:425px;margin-top:25px;float:left;">
				<span style="display: block;font-size: 15px;margin-bottom: 10px;">
					<div class="notice" style="font-size: 15px;" >{$msg},</div>
					<span id="lalala"></span>
				</span>
				
			</div>
		</div>
		</div>
   </div><!-- #container -->
		
	{include wei.html}