{include header.html}
<!-- =Slider -->
			<section id="featured" class="clearfix grid_12">
				<div id="coin-slider">

					<article>
						<a href="index.php?m=like&a=likeindex">
							<img  src="public/images/slider/t1t1.jpg">
							<span>
								小乔是。萌妹子法师。
								她的特长是远程消耗，攻击范围非常长。扇子是她的象征，代表色是粉色。后期发育起来可以打出非常高的伤害。
							</span>
						</a>
					</article>

					<article>
						<a href="index.php?m=like&a=likeindex">
							<img src="public/images/slider/t2t2.jpg">
							<span>
							甄姬。法师英雄。
							甄姬擅长使用水来控制和伤害敌人，可以说具有强大的团控和控制能力
							甄姬在游戏中以成熟御姐的形象出现，有着不俗的攻击伤害和技能效果，能很好的配合队友对敌人造成毁灭性的的打击。往往逆风局中，甄姬的大招配合被动可以让敌人全部被冰冻，从而完成Carry。
							</span>
						</a>
					</article>
					
					<article>
						<a href="index.php?m=like&a=likeindex">
							<img src="public/images/slider/t3t3.jpg">
							<span>
								不知火舞。原型为日本格斗游戏《饿狼传说》与《拳皇》中的角色不知火舞。
								扇子和火是她的象征。不知火舞的伤害很高，需要良好的走位。堪称王者荣耀机动性和灵活性最高的法师。
								不知火舞上手难度较高，建议在获得舞之后，先去单人训练营练习一下。
								如果使用得当的话，不知火舞绝不会落后于其他法师和刺客。超高的伤害是峡谷中令人闻风丧胆之物。
							</span>
						</a>
					</article>

			
					<article>
						<a href="index.php?m=like&a=likeindex">
							<img src="public/images/slider/t4t4.jpg">
							<span>
							露娜
							为法系战士，以神话中月光之女为原型。
							容貌绝世，堪称佳人。由于操作要求比较高，所以建议新手玩家尽量不要使用。露娜的核心在于她的连招。
							打团的时候露娜因为自身的脆皮你并不容易像刚刚说的连招技巧打出那么多次大，这时候你可以直接使用大招切入，你这时候的作用就化作为一个团控，也很讲究队友跟你的配合，也有些朋友玩露娜，就在想我玩露娜必须要标记后再开大上，导致错失人头，如果对面残的话直接开大去抓，有时候如果你被很多人追，大招就是一个为你保命的技能，冲刺的距离使得露娜可进可退，如果打团队友不跟上可能就被坑。
							</span>
						</a>
					</article>
					<article>
						<a href="index.php?m=like&a=likeindex">
							<img src="public/images/slider/t5t5.jpg">
							<span>
							孙尚香，是腾讯手游《王者荣耀》中的射手英雄。射手这个位置一直十分的尴尬，刺客和法师的强势崛起导致射手英雄很容易被刺死，被敌方针对，输出不稳定，很难Carry到队伍。
							但是之后的对于孙尚香的一些改动与增强使得这位英雄登上T1的位置，使她成为输出爆表，还能收割的强势英雄。
							</span>
						</a>
					</article>
					<article>
						<a href="index.php?m=like&a=likeindex">
							<img src="public/images/slider/t6t6.jpg">
							<span>
							妲己，一名女性法师英雄，以《封神榜》里的妲己为原型创造的人物。
							容貌倾国倾城，美艳绝伦。堪称红颜祸水。身材妖娆多姿，气质总有一种魅惑。实力极高，爆发力强。只要前期发育好，后期输出很高，爱心是她的象征。
							上手难度不是很高，对新手玩家来说十分合适。
							</span>
						</a>
					</article>
					<article>
						<a href="index.php?m=like&a=likeindex">
							<img src="public/images/slider/t7t7.jpg">
							<span>
							武则天，一个法师型英雄，辅助能力极强，但是生存能力较低。
							在《王者荣耀》中，武则天是无法直接用金币、钻石、点券来购买的，必须通过积分夺宝抽取荣耀水晶（最高需要花费2000元人民币才有可能获得）进行兑换，可以说是目前为止价格最高的英雄。
							</span>
						</a>
					</article>
				</div><!-- coin-slider -->
			</section><!-- #featured/slider -->
            
            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	

			<!-- =Message board -->
			<aside>
				<p style="font-size:18px" class="grid_12 message_board clearfix">Hi，欢迎来到我的<span>世界</span>, 我的博客主要关于一些我个人比较喜欢的一些电影，图片或者一些游戏综艺节目，希望大家在闲暇之余可以很开心快乐。
				<span style="font-weight: bold;">若我说的一句话，能换来你的好心情，那我愿化作空中飞翔的小鸟，围绕在你身边。从此，叽喳不停……</span>
				</p>
			</aside>

			<div class="hr grid_12 clearfix boxhr"></div>


			<!-- =BOXES RECENT ENTRIES -->
			<section class="box_entries grid_12">
				
				<!-- FIRST ROW -->
				<header><p style="font-size: 15px;font-weight: bold;" class="box_title" id="pager">游戏之王</p></header>
				{if !empty($yxrw)}
				{foreach $yxrw[0] as $key=>$val}
				<article>
					<a class="boxgrid box alpha tl tooltip" href="index.php?m=details&a=details&yid={$val['yid']}" title="{$val['yname']}">
						<p style="font-size: 15px;font-weight: bold;color:#fff;" class="title nocufon">{$val['yname']}</p>
						<p style="height:40px;overflow: hidden;">{$val['title']}</p>
						<figure><img alt="" style="width:198px;height:142px;" src="{$val['ypic']}" /></figure>
					</a>
				</article>
				{/foreach}
				{/if}

			</section><!-- #box_entries -->
				
			<aside class="grid_12 view_all">
					
					    <nav class="pagination pagination-blue">
					      <a href="{$yxrw[1]['last']}#pager" class="next">&gt;</a>
					      <a href="index.php?page=5#pager">5</a>
					      <a href="index.php?page=4#pager">4</a>
					      <a href="index.php?page=3#pager">3</a>
					      <a href="index.php?page=2#pager">2</a>
					      <a href="index.php?page=1#pager">1</a>
					      <a href="{$yxrw[1]['first']}#pager" class="prev">&lt;</a>
					    </nav>
						<a href="index.php?m=fatie&a=fatie" class="textlink">发帖</a>
			</aside><!-- .grid_12 .view_all -->
		
			<section class="box_entries grid_12">
		
				<!-- SECOND ROW -->
				<header><p style="font-size: 15px;font-weight: bold;" class="box_title" id="pager2">随笔而生</p></header>

				{if !empty($suibi)}
				{foreach $suibi[0] as $key=>$val}
				<article>
					<a class="boxgrid box alpha tl tooltip" href="index.php?m=details&a=detailsSui&sid={$val['sid']}" title="{$val['sname']}">
						<p style="font-size: 15px;font-weight: bold;color:#fff;" class="title nocufon">{$val['sname']}</p>
						<p>{$val['stitle']}</p>
						<figure><img alt="" style="width:198px;height:142px;" src="{$val['spic']}" /></figure>
					</a>
				</article>
				{/foreach}
				{/if}

	
				
			</section><!-- #box_entries - second block -->
			<aside class="grid_12 view_all">
					
					    <nav class="pagination pagination-blue">
					      <a href="{$suibi[1]['last']}#pager2" class="next">&gt;</a>
					      <a href="index.php?page=5#pager2">5</a>
					      <a href="index.php?page=4#pager2">4</a>
					      <a href="index.php?page=3#pager2">3</a>
					      <a href="index.php?page=2#pager2">2</a>
					      <a href="index.php?page=1#pager2">1</a>
					      <a href="{$suibi[1]['first']}#pager2" class="prev">&lt;</a>
					    </nav>
					    <a href="index.php?m=fatie&a=fasui" class="textlink">写文章</a>
			</aside><!-- .grid_12 .view_all -->
		
		
			<div class="hr grid_12 clearfix"></div>
		
		</div><!-- #container -->
	
	{include wei.html}