
	<title>啦啦啦</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="public/css/style.css?v=1"/>
	
	<!-- CSS : load Skins 
	<link rel="stylesheet" href="public/css/gray.css">
	<link rel="stylesheet" href="public/css/light.css">
	<link rel="stylesheet" href="public/css/green.css">
	<link rel="stylesheet" href="public/css/green_strong.css">
	<link rel="stylesheet" href="public/css/olive.css">
	<link rel="stylesheet" href="public/css/military.css">
	<link rel="stylesheet" href="public/css/blue.css">
	<link rel="stylesheet" href="public/css/blue_light.css">
	<link rel="stylesheet" href="public/css/blue_navy.css">
	<link rel="stylesheet" href="public/css/brown_dark.css">
	<link rel="stylesheet" href="public/css/brown_orange.css">
	<link rel="stylesheet" href="public/css/brown.css">
	<link rel="stylesheet" href="public/css/orange.css">
	<link rel="stylesheet" href="public/css/ocra.css">
	<link rel="stylesheet" href="public/css/red.css">
	<link rel="stylesheet" href="public/css/violet.css">
	<link rel="stylesheet" href="public/css/wine.css">
	<link rel="stylesheet" href="public/css/grape.css">
	-->
	
	<!-- =styleswitcher -->
	<link rel="alternate stylesheet" href="public/css/style.css" title="default" />
	<link rel="alternate stylesheet" href="public/css/gray.css" title="gray" />
	<link rel="alternate stylesheet" href="public/css/light.css" title="light" />
	<link rel="alternate stylesheet" href="public/css/green.css" title="green" />
	<link rel="alternate stylesheet" href="public/css/green_strong.css" title="green_strong" />
	<link rel="alternate stylesheet" href="public/css/olive.css" title="olive" />
	<link rel="alternate stylesheet" href="public/css/military.css" title="military" />
	<link rel="alternate stylesheet" href="public/css/blue.css" title="blue" />
	<link rel="alternate stylesheet" href="public/css/blue_light.css" title="blue_light" />
	<link rel="alternate stylesheet" href="public/css/blue_navy.css" title="blue_navy" />
	<link rel="alternate stylesheet" href="public/css/brown_dark.css" title="brown_dark" />
	<link rel="alternate stylesheet" href="public/css/brown_orange.css" title="brown_orange" />
	<link rel="alternate stylesheet" href="public/css/brown.css" title="brown" />
	<link rel="alternate stylesheet" href="public/css/orange.css" title="orange" />
	<link rel="alternate stylesheet" href="public/css/ocra.css" title="ocra" />
	<link rel="alternate stylesheet" href="public/css/red.css" title="red" />
	<link rel="alternate stylesheet" href="public/css/violet.css" title="violet" />
	<link rel="alternate stylesheet" href="public/css/wine.css" title="wine" />
	<link rel="alternate stylesheet" href="public/css/grape.css" title="grape" />
	<link rel="alternate stylesheet" href="public/css/space.css" title="space" />
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="public/js/modernizr-1.5.min.js"></script>
	

