<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>Single Blog Page | Lab</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css?v=1">

	<!-- CSS : load Skins 
	<link rel="stylesheet" href="css/gray.css">
	<link rel="stylesheet" href="css/light.css">
	<link rel="stylesheet" href="css/green.css">
	<link rel="stylesheet" href="css/green_strong.css">
	<link rel="stylesheet" href="css/olive.css">
	<link rel="stylesheet" href="css/military.css">
	<link rel="stylesheet" href="css/blue.css">
	<link rel="stylesheet" href="css/blue_light.css">
	<link rel="stylesheet" href="css/blue_navy.css">
	<link rel="stylesheet" href="css/brown_dark.css">
	<link rel="stylesheet" href="css/brown_orange.css">
	<link rel="stylesheet" href="css/brown.css">
	<link rel="stylesheet" href="css/orange.css">
	<link rel="stylesheet" href="css/ocra.css">
	<link rel="stylesheet" href="css/red.css">
	<link rel="stylesheet" href="css/violet.css">
	<link rel="stylesheet" href="css/wine.css">
	<link rel="stylesheet" href="css/grape.css">
	-->

	<!-- =styleswitcher -->
	<link rel="alternate stylesheet" href="css/style.css" title="default" />
	<link rel="alternate stylesheet" href="css/gray.css" title="gray" />
	<link rel="alternate stylesheet" href="css/light.css" title="light" />
	<link rel="alternate stylesheet" href="css/green.css" title="green" />
	<link rel="alternate stylesheet" href="css/green_strong.css" title="green_strong" />
	<link rel="alternate stylesheet" href="css/olive.css" title="olive" />
	<link rel="alternate stylesheet" href="css/military.css" title="military" />
	<link rel="alternate stylesheet" href="css/blue.css" title="blue" />
	<link rel="alternate stylesheet" href="css/blue_light.css" title="blue_light" />
	<link rel="alternate stylesheet" href="css/blue_navy.css" title="blue_navy" />
	<link rel="alternate stylesheet" href="css/brown_dark.css" title="brown_dark" />
	<link rel="alternate stylesheet" href="css/brown_orange.css" title="brown_orange" />
	<link rel="alternate stylesheet" href="css/brown.css" title="brown" />
	<link rel="alternate stylesheet" href="css/orange.css" title="orange" />
	<link rel="alternate stylesheet" href="css/ocra.css" title="ocra" />
	<link rel="alternate stylesheet" href="css/red.css" title="red" />
	<link rel="alternate stylesheet" href="css/violet.css" title="violet" />
	<link rel="alternate stylesheet" href="css/wine.css" title="wine" />
	<link rel="alternate stylesheet" href="css/grape.css" title="grape" />
	<link rel="alternate stylesheet" href="css/space.css" title="space" />

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 

	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<![endif]-->
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
				
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="js/modernizr-1.5.min.js"></script>

</head>
<body>

	<!-- Let's Start! -->
	<div id="wrapper" class="clearfix">

	<!-- =styleswitcher -->
	<div id="styleswitcher">
		<ul>
			<li class="t_skins">Styleswitcher</li>
			<li><a href="#" onclick="setActiveStyleSheet('default'); return false;">Default</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('gray'); return false;">Gray</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('light'); return false;">Light</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('green'); return false;">Green</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('green_strong'); return false;">Green Strong</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('olive'); return false;">Olive</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('military'); return false;">Military</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('blue'); return false;">Blue</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('blue_light'); return false;">Blue Light</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('blue_navy'); return false;">Blue Navy</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('brown_dark'); return false;">Brown Dark</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('brown_orange'); return false;">Brown Orange</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('brown'); return false;">Brown</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('orange'); return false;">Orange</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('ocra'); return false;">Ocra</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('red'); return false;">Red</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('violet'); return false;">Violet</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('wine'); return false;">Wine</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('grape'); return false;">Grape</a></li>
			<li><a href="#" onclick="setActiveStyleSheet('space'); return false;">Space</a></li>
		</ul>
	</div>
	
	<div id="container" class="container_12 clearfix">

		<!-- =Header -->
		<header id="header" class="grid_12">
		
			<!-- =Logo -->
			<h1 id="logo" class="grid_4">
				<a href="index.html" title="Lab"><img src="images/logo.png" alt="Lab Logo" /></a>
			</h1>

			<!-- =Menu -->
			<nav id="nt_nav">
				<ul id="navigation" class="grid_8">
			
					<li><a href="contact.html"><span class="meta">Let's Talk</span><br />Contact Us</a></li>
					<li><a href="portfolio.html"><span class="meta">Our Work</span><br />Portfolio</a>
						<ul class="sub-menu"> 
							<li><a href="portfolio_single.html">Portfolio Single</a></li>
						</ul>
					</li><!-- end portfolio -->
					<li><a href="about.html" class="current"><span class="meta">Behind the Scenes</span><br />About Lab</a>
						<ul class="sub-menu">
							<li><a href="full_width.html">Full Width Page</a></li>
							<li><a href="single.html">Single Page</a></li>
							<li><a href="#">Submenu</a>
								<ul class="sub-menu"> 
									<li><a href="#">Submenu Item</a></li>
									<li><a href="#">Submenu Item</a></li>
									<li><a href="#">Submenu Item</a></li>
									<li><a href="#">Submenu Item</a></li>
								</ul> 
							</li>
							<li><a href="typography.html" class="current">Typography</a></li>
						</ul> 
					</li><!-- end about -->

					<li><a href="blog.html"><span class="meta">News</span><br />Blog</a></li>
					<li><a href="index.html"><span class="meta">Start</span><br />Home</a></li>
				</ul>
			</nav><!-- #nt_nav -->
		
			<div class="clear"></div>

		</header><!-- #header -->
		

		<div class="hr grid_12 clearfix"></div>


		<!-- =heading_page -->
		<aside>
			<h2 class="grid_12 heading_page clearfix">Typography</h2>
		</aside>

		<div class="hr grid_12 clearfix"></div>

		<!-- Left Column -->
		<section id="left_col" class="grid_8">
		
			<div class="breadcrumbs"><a href="index.html">Home</a> / <a href="about.html">About</a> / Typography</div>

			<!-- Header's -->
			<h1>H1 Heading</h1> 
			<h2>H2 Heading</h2> 
			<h3>H3 Heading</h3> 
			<h4>H4 Heading</h4> 
			<h5>H5 Heading</h5> 
			<h6>H6 Heading</h6> 
			
			<div class="hr grid_12 clearfix"></div>
			
			<!-- General html format's -->
			<p>This paragraph shows how all text encapsulated only within <strong>&lt;p&gt;&lt;/p&gt;</strong> tags will appear. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel porta erat. Quisque sit amet risus at odio pellentesque sollicitudin. Proin suscipit molestie facilisis.</p> 
			<p>More text examples are as follows:</p> 
			<p><em>This is emphasised text</em></p> 
			<p><strong>This is strong text</strong></p>
			<p><del>This is deleted text</del></p> 
			<p><a class="tooltip" href="#" title="http://themeforest.net">This is a link</a></p> 
			<blockquote>This is a quote. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis uploadsor. Nullam tortor. Nulla vel dui. Curabitur et metus. This is a quote. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis uploadsor. Nullam tortor. Nulla vel dui. Curabitur et metus.</blockquote>
			
			<!-- List's -->
			<!-- Unordered -->
			<ul>
				<li>List item example</li>
				<li>List item example
					<ul>
						<li>Sub list item example</li>
						<li>Sub list item example</li>
					</ul>
				</li>
				<li><a class="tooltip" href="#" title="http://themeforest.net">List item example</a></li>
			</ul>
			
			<!-- Ordered -->
			<ol>
				<li>List item example</li>
				<li>List item example
					<ol> 
						<li>Sub list item example</li>
						<li>Sub list item example</li>
					</ol>
				</li>
				<li><a class="tooltip" href="#" title="http://themeforest.net">List item example</a></li>
			</ol>
			
			<div class="hr dotted clearfix"></div>
			
		</section><!-- .left_column -->

		
		<!-- =Right Column / Sidebar -->
		<aside id="sidebar_right" class="grid_4">
			
			<div class="sidebar_top_BG"></div>
			
			<section>
				<header>
					<h3>A Brief History</h3>
				</header>

				<div class="hr dotted clearfix"></div>
				
				<section class="history"> 
					<p><strong>2010</strong><br/>Lorem ipsum dolor sit amet,<a class="tooltip" href="#" title="http://themeforest.net">consectetur adipiscing elit</a>. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor.</p>
			
					<p><strong>2008</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. <a class="tooltip" href="#" title="http://themeforest.net">Pellentesque vitae lacus</a> a sem posuere fringilla. Vestibulum dolor.</p>

					<p><strong>2005</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor.</p>
			
					<p><strong>2002</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor.</p>
			
				</section><!-- .history -->
			</section>

			<div class="hr dotted clearfix"></div>

			<section>
				<header>
					<h3>Blog Archive</h3>
				</header>

				<ul class="sidebar">
					<li><a href="">January 2010</a></li>
					<li><a href="">December 2009</a></li>
					<li><a href="">November 2010</a></li>
					<li><a href="">October 2009</a></li>
					<li><a href="">September 2009</a></li>
				</ul>
			</section>
			
			<div class="hr dotted clearfix"></div>
			
			<!-- Social Profiles -->
			<section>
				<header>
					<h3>Social Profiles</h3>
				</header>

				<div class="clearfix"></div>
				
				<ul class="social_profiles">
					<li class="float"><a href="#" class="tooltip" title="Facebook"><img alt="" src="images/icons/24px/facebook.png" title="Facebook" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Twitter"><img alt="" src="images/icons/24px/twitter.png" title="Twitter" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Flickr"><img alt="" src="images/icons/24px/flickr.png" title="Flickr" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Delicious"><img alt="" src="images/icons/24px/delicious.png" title="Delicious" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Deviant-art"><img alt="" src="images/icons/24px/deviant-art.png" title="Deviant-art" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Digg"><img alt="" src="images/icons/24px/digg.png" title="Digg" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Foursquare"><img alt="" src="images/icons/24px/foursquare.png" title="Foursquare" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Lastfm"><img alt="" src="images/icons/24px/lastfm.png" title="Lastfm" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="LinkedIn"><img alt="" src="images/icons/24px/linkedin.png" title="LinkedIn" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Stumbleupon"><img alt="" src="images/icons/24px/stumbleupon.png" title="Stumbleupon" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Technorati"><img alt="" src="images/icons/24px/technorati.png" title="Technorati" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Tumblr"><img alt="" src="images/icons/24px/tumblr.png" title="Tumblr" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Vimeo"><img alt="" src="images/icons/24px/vimeo.png" title="Vimeo" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Youtube"><img alt="" src="images/icons/24px/youtube.png" title="Youtube" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="Reddit"><img alt="" src="images/icons/24px/reddit.png" title="Reddit" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="ShareThis"><img alt="" src="images/icons/24px/sharethis.png" title="ShareThis" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="yelp"><img alt="" src="images/icons/24px/yelp.png" title="Yelp" /></a></li>
					<li class="float"><a href="#" class="tooltip" title="RSS"><img alt="" src="images/icons/24px/rss.png" title="RSS" /></a></li>
				</ul>
			</section>
			<!-- END Social Profiles -->
			
			<div class="sidebar_bottom_BG"></div>
			
		</aside><!-- #sidebar_right -->
		
		<div class="hr grid_12 clearfix"></div>
		
	</div><!-- #container -->
		
	<!-- =Footer -->
		<footer class="container_12 clearfix">
			<section class="footer">
			<p>
				<span class="float"><b>&copy; 2013 Copyright Lab</b>. All Rights Reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></span>
				<a class="float right toplink" href="#">top</a>
			</p>
			</section><!-- footer -->
		</footer>
	
	</div><!-- #wrapper -->
	
	
	<!-- Javascript at the bottom for fast page loading -->	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="js/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
	
	<!-- =Menu -->
	<script src="js/nt_nav.js"></script>

	<!-- =Contact -->
	<script src="js/contact.js"></script>
	
	<!-- =styleswitcher -->
	<script src="js/styleswitcher.js"></script>
	
	<!-- =Prettyphoto -->
	<script src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("a.portfolio_item[rel^='prettyPhoto'], a.isphoto_m[rel^='prettyPhoto'], a.isphoto_b[rel^='prettyPhoto'], a.isvideo_m[rel^='prettyPhoto'], a.isvideo_b[rel^='prettyPhoto'], a.islink_mini[rel^='prettyPhoto'], a.islink_m[rel^='prettyPhoto']").prettyPhoto({
			animationSpeed: 'slow',
			theme: 'nitro_dark_rounded',
			slideshow: 4000,
			autoplay_slideshow: false});
		});
	</script>

	<!-- =Cufon -->
	<script src="js/cufon-yui.js?v=1.09"></script>
	<script src="js/lab.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('h1, h2, h3, h4:not(.nocufon), h5, h6, .heading_page, .search_text');
	</script>
	
	<!-- Call =Coin Slider -->
	<script src="js/coin-slider.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({
			width: 960, // width of slider panel
			height: 459, // height of slider panel	// 459 default -1px for img margins error
			spw: 4,  // squares per width - 5 by default
			sph: 2, // squares per height - 3 by default
			delay: 3000, // delay between images in ms - 3000 by default
			sDelay: 30, // delay beetwen squares in ms - 30 by default
			opacity: 0.8, // opacity of title and navigation - 0.8 by default
			titleSpeed: 500, // speed of title appereance in ms - 500 by default
			effect: '', // random, swirl, rain, straight - empty by default
			navigation: true, // prev next and buttons - true by default
			links : true, // show images as links - true by default
			hoverPause: true // pause on hover - true by default
		});
	});
	</script>
	
	<!-- =Tooltip -->
	<script src="js/tooltip.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
		//tooltip
		$("a .tooltip").addClass("tooltip");
		tooltip();  		
	});
	</script>
	
	<!-- =Truncate -->
	<script src="js/jquery.jtruncate.pack.js"></script>
	<script type="text/javascript">
	$().ready(function() {  
		$('h4.title').jTruncate({  
			length: 14,
			minTrail: 0,
			moreText: "", //[see all]
			lessText: "", //[hide extra]
			ellipsisText: "", // (truncated)
			moreAni: "", // fast
			lessAni: 2000
		});
	});
	</script>
  	

</body>
</html>